	<table class="table borderless">
		<tr>
			<th></th>
			<th>{{'ANZFAHRZ' | translate}}</th>
			<th>{{'MIETEGEPLANT' | translate}}</th>
			<th>{{'MIETEABGERECHNET' | translate}}</th>
			<!--
			<th i18n>Anzahl Fahrzeuge</th>
			<th i18n>Miete geplant</th>
			<th i18n>Miete abgerechnet</th>
			-->
		</tr>
		<tr>
			<td>{{'FRAUEN' | translate}}</td>
			<!--
			<td i18n>Frauen</td>
			-->
			<td><div class="divboxmodel">{{crvalues.anzahlPkw}}</div></td>
			<td><div class="divboxmodel">{{crvalues.mieteGeplantPkw}}</div></td>
			<td><div class="divboxmodel">{{crvalues.mieteAbgerechnetPkw}}</div></td>
		</tr>
		<tr>
			<td>{{'MAENNER' | translate}}</td>
			<!--
			<td i18n>Maenner</td>
			-->
			<td><div class="divboxmodel">{{crvalues.anzahlLkw}}</div></td>
			<td><div class="divboxmodel">{{crvalues.mieteGeplantPkw}}</div></td>
			<td><div class="divboxmodel">{{crvalues.mieteAbgerechnetLkw}}</div></td>
		</tr>
		<tr>
			<td>{{'TOTAL' | translate}}</td>
			<!--
			<td i18n>Total</td>
			-->
			<td><div class="divboxmodel">{{crvalues.anzahlTotal}}</div></td>
			<td><div class="divboxmodel">{{crvalues.mieteGeplantTotal}}</div></td>
			<td><div class="divboxmodel">{{crvalues.mieteAbgerechnetTotal}}</div></td>
		</tr>
	</table>