<p i18n>crdetail works!</p>
<div *ngIf="!crEditmode">
	<table style="width: 100%">
		<tr *ngFor="let period of crPeriods">
			<td style="width: 15%"><ng-container i18n>Mietperiode</ng-container><br />
				{{period.from | date:'dd.MM.yyyy'}} <ng-container i18n>bis</ng-container>
				{{period.to | date:'dd.MM.yyyy'}}<br/>
				<button type="button" class="btn btn-primary" (click)="toggleEditmode()">
                      Edit
                    </button>
				</td>
				
			<td style="width: 85%">
				<table style="width: 100%">
					<tr *ngFor="let pf of period.crPortfolios">
						<td style="width: 15%"><ng-container i18n>Mieter</ng-container><br />
							{{pf.bezeichnung}}</td>
						<td style="width: 85%"><ng-container i18n>Details</ng-container>
							<app-crvaluesd [crvalues]="pf"></app-crvaluesd></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>

<div *ngIf="crEditmode">
	<table style="width: 100%">
		<tr *ngFor="let period of crPeriods">
			<td style="width: 15%"><ng-container i18n>Mietperiode</ng-container><br />
				{{period.from | date:'dd.MM.yyyy'}} <ng-container i18n>bis</ng-container>
				{{period.to | date:'dd.MM.yyyy'}}<br/>
				<button type="button" class="btn btn-primary" (click)="toggleEditmode()">
                      Display
                    </button>
				</td>
			<td style="width: 85%">
				<table style="width: 100%">
					<tr *ngFor="let pf of period.crPortfolios">
						<td style="width: 15%"><ng-container i18n>Mieter</ng-container><br />
							{{pf.bezeichnung}}</td>
						<td style="width: 85%"><ng-container i18n>Details</ng-container>
							<app-crvalues [crvalues]="pf"></app-crvalues></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
