<p>
  crdetail works!
</p>
<table style="width:100%">
  <tr *ngFor="let period of crPeriods">
    <td style="width:15%">
    	{{'MIETPERIODE' | translate}}<br/>
    	{{period.from | date:'dd.MM.yyyy'}} {{'BIS' | translate}} {{period.to | date:'dd.MM.yyyy'}}
    </td>
    <td style="width:85%">
		<table style="width:100%">
			<tr *ngFor="let pf of period.crPortfolios">
				<td style="width:15%">
					{{'MIETER' | translate}}<br/>
					{{pf.bezeichnung}}
				</td>
				<td style="width:85%">{{'DETAILS' | translate}}
					<app-crvalues [crvalues]="pf"></app-crvalues>
				</td>
			</tr>
		</table>    	
    </td>
  </tr>
</table>

